@font-face {
    font-family: 'neonoire';
    src: url("../fonts/nn.woff2") format("woff2"), url("../fonts/nn.woff") format("woff"), url("../fonts/nn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'desyrelregular';
    src: url("../fonts/desyrel-webfont.ttf") format("truetype"), url("../fonts/desyrel-webfont.svg#desyrelregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Kelson */

@font-face {
    font-family: 'kelson_sansregular';
    src: url("kelson_sans_regular.woff2") format("woff2"), url("kelson_sans_regular.woff") format("woff"), url("kelson_sans_regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'kelson_sansbold';
    src: url("kelson_sans_bold.woff2") format("woff2"), url("kelson_sans_bold.woff") format("woff"), url("kelson_sans_bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'kelson_sanslight';
    src: url("kelson_sans_light.woff2") format("woff2"), url("kelson_sans_light.woff") format("woff"), url("kelson_sans_light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}