html,
body {
    min-height: 100%;
}

body {
    overflow-y: scroll;
}

/* ----------------------------------------------------------
  Selection style
---------------------------------------------------------- */

::-moz-selection {
    color: #000;
    text-shadow: none;
    background: #ffc02b;
}

::selection {
    color: #000;
    text-shadow: none;
    background: #ffc02b;
}

/*  --------------------------------------------------
  = Messages
  -------------------------------------------------- */

.fon_messages {
    display: block;
    width: 95%;
    margin: 0 auto;
}

.fon_messages > li {
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0,0,0,.2);
}

.fon_messages p {
    display: block;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: 14px;
}

.error {
    border: 1px solid #bc5752;
}

.success {
    border: 1px solid #8BDC7A;
}

.error p {
    color: #C4685A;
    background: url(img/icons/error_icon.png) left 2px no-repeat;
}

.success p {
    color: #75C95F;
    background: url(img/icons/success_icon.png) left top no-repeat;
}

/*  --------------------------------------------------
  = Divers
  -------------------------------------------------- */

code {
    padding: 2px 4px;
    border: 1px solid #E1E1E8;
    border-radius: 3px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #dc3522;
    background-color: #F7F7F9;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
}

/*  --------------------------------------------------
  = Transitions
  -------------------------------------------------- */

a {
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out;
  transition:         color .2s ease-in-out, background-color .2s ease-in-out;
}

/*  --------------------------------------------------
  = Links
  -------------------------------------------------- */

a:hover {
    text-decoration: none;
}


/* Selection (can't merge the two selectors) */

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}
