@charset "UTF-8";

/* ----------------------------------------------------------
   Fonts
   ------------------------------------------------------- */

body {
    background-color: #F7F4F7;
}

.wip {
    opacity: 0.1;
}

.header {
    text-align: center;
    padding: 25px 0 15px;
    margin: 0 auto;
}

.header .logo-box {
    display: inline-block;
    margin-bottom: 30px;
}

.header .logo {
    float: left;
    width: 114px;
    height: 114px;
    background: url(../../assets/img/logo.png) center top no-repeat;
}

.header .site-title {
    float: left;
    font-family: 'desyrelregular', sans-serif;
    font-size: 52px;
    color: #485062;
    line-height: 114px;
}

.header .menu {
    display: inline-block;
}

.header .menu-item {
    float: left;
}

.header .menu-item + .menu-item {
    margin-left: 30px;
}

.header .menu a {
    color: #485062;
    text-decoration: none;
}

.header .menu a:hover {
    color: #ffc02b;
}


/* ----------------------------------------------------------
   Header min
   ------------------------------------------------------- */

.single-game .header,
.single-attachment .header {
    padding: 5px 0 0;
}

.single-game .logo-box,
.single-attachment .logo-box {
    margin-bottom: 5px;
}

.single-game .header .menu,
.single-game .header .site-title,
.single-attachment .header .menu,
.single-attachment .header .site-title {
    display: none;
}

/* ----------------------------------------------------------
   Footer
   ------------------------------------------------------- */

.footer {
    padding: 15px 0 5px;
    text-align: center;
}

.main {
    position: relative;
    text-align: center;
    padding: 6px;
}

/* ----------------------------------------------------------
   Page / pot
   ------------------------------------------------------- */

.page-wrap {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    -webkit-box-shadow: 0 0 40px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0 0 40px 5px rgba(0,0,0,.8);
    box-shadow: 0 0 40px -5px rgba(0,0,0,.99);
}

.page-title {
    font-family: 'LeagueScriptNumberOne', serif;
    font-size: 32px;
    color: #999;
    line-height: 1.2;
    margin: 5px auto 30px;
}

.post-content {
    font-family: 'courier_prime', sans-serif;
    font-size: 16px;
    color: #999;
    line-height: 1.4;
    margin-bottom: 10px;
}

.post-content li,
.post-content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.post-content h2 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px;
    text-transform: uppercase;
    margin: 8px auto 16px;
}

.post-content a {
    color: #999;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    text-decoration: none;
    padding: 0 4px;
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.post-content a:focus,
.post-content a:hover {
    color: #999;
    background-color: #ddd;
}


/* ----------------------------------------------------------
   Popin
   ------------------------------------------------------- */

#popin {
    /*display: table;*/
    display: block;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1.5%;
    text-align: center;
    background-color: rgba(255,255,255,.8);
}

#popin .popin-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1000%;
    opacity: 0.85;
    cursor: pointer;
    /* enabeld hw accelerated */
    -webkit-transform: translateZ(0);
    -webkit-filter: blur(100px);
}

#popin .popin-content {
    position: relative;
    z-index: 2;
    display: inline-block;
}

#popin #content {
    z-index: 2;
    text-align: center;
}

#popin #content .single {
    position: relative;
    text-align: center;
}

#popin #content,
#popin #content .single img,
#popin .popin-content,
#popin #content .single {
    /*display: inline-block;
    *display: inline;
    *zoom: 1;*/
    display: inline;
    max-width: 100%;
    max-height: 100%;
}

#popin #content,
#popin .popin-content,
#popin #content .single {
    height: 100%;
}

#popin #content .single img {
    -webkit-box-shadow: 0 0 40px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0 0 40px 5px rgba(0,0,0,.8);
    box-shadow: 0 0 40px -5px rgba(0,0,0,.99);
}

#popin .popin-caption {
    position: absolute;
    z-index: 51;
    top: 15px;
    left: 15px;
    font-family: 'courier_prime', sans-serif;
    font-size: 12px;
    color: #999;
    line-height: 1.4;
}

#popin.s-bg .popin-caption {
    color: #ededed;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

#popin .popin-caption small {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 2px;
    font-size: inherit;
    font-variant: small-caps;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -o-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

#popin .page-wrap {
    position: relative;
    z-index: 3;
}

/* ----------------------------------------------------------
   Objects
   ------------------------------------------------------- */

.heart {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    z-index: 1;
    width: 45px;
    height: 5px;
}

.caption .heart {
    margin-right: 4px;
    cursor: pointer;
    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    transform: scale(0.35);
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.heart:before,
.heart:after {
    position: absolute;
    z-index: 1;
    content: "";
    left: 0;
    top: -30px;
    width: 30px;
    height: 50px;
    background: #FA0561;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0,100%;
    -moz-transform-origin: 0,100%;
    -o-transform-origin: 0,100%;
    transform-origin: 0,100%;
}

.heart:after {
    right: 0;
    left: auto;
   -webkit-box-shadow: 3px -20px 5px 3px rgba(51,51,51,.6);
   -moz-box-shadow: 3px -20px 5px 3px rgba(51,51,51,.6);
   -o-box-shadow: 3px -20px 5px 3px rgba(51,51,51,.6);
   box-shadow: 3px -20px 5px 3px rgba(51,51,51,.6);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100%,100%;
    -moz-transform-origin: 100%,100%;
    -o-transform-origin: 100%,100%;
    transform-origin: 100%,100%;
}

.heart:hover {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

/*.heart.liked {*/
.heart.liked:before,
.heart.liked:after {
    background: #B7285E;
}

.heart.liked {
    cursor: normal;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.heart.liked:hover {
    -webkit-transform: scale(0.35);
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    transform: scale(0.35);
}

.heart .love {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    position: relative;
    z-index: 2;
    bottom: 30px;
    font-size: 11px;
    color: #fff;
    text-shadow: 0 0 1px #FA0561;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.heart:hover .love {
    font-size: 14px;
    bottom: 50px;
    opacity: .95;
    visibility: visible;
}

.heart.liked:hover .love,
.heart.liked .love {
    font-size: 14px;
    bottom: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
