/* ----------------------------------------------------------
   single-attachment
   ------------------------------------------------------- */

.single-attachment .attachment {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.is-zoomed {
    max-width: none;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
}

.content-single-attachment .attachments-list {
    margin-top: 30px;
}

.content-single-attachment .attachments-list > .item {
    display: block;
    float: left;
    max-width: 140px;
    max-height: 80px;
    height: auto;
    overflow: hidden;
}

/* ----------------------------------------------------------
   content-single-game
   ------------------------------------------------------- */

.content-single-game {
    position: relative;
    min-height: 600px;
}

.content-single-game .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.content-single-game .logo {
    position: relative;
    z-index: 2;
    margin: 0 auto 30px;
}
