.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.landing .content {
    position: relative;
    z-index: 2;
    pointer-events: none;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    transition: opacity 2s ease-in-out;
}

.gameon .landing .content {
    opacity: .1;
}

.landing .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.landing .logo .icon {
    width: 114px;
    height: 114px;
    margin-right: 10px;
    background: url(../../assets/img/logo.png) center top no-repeat;
}

.landing .logo .title {
    font-family: 'neonoire';
    color: #21252E;
    font-size: 50px;
    text-align: left;
    line-height: 1.1;
    text-shadow: -3px 3px 0 #ffc02b;
}

.landing .intro {
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.4;
    color: #485062;
}

.mobs-box {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(222, 222, 222, 0), rgba(222, 222, 222, 0.8));
}

.mobs-box .bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFC02B;
}

.mobs-box .counter {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'kelson';
    font-size: 500px;
    font-size: 90vh;
    color: #020202;
    text-align: right;
    line-height: 0.6;
    opacity: 0;
}

.gameon .mobs-box .counter {
    opacity: .2;
}

.mobs-box .mob {
    width: 150px;
    height: 150px;
}

.mobs-box .mob .hitbox {
    display: block;
    cursor: pointer;
}

.mobs-box .mob .line {
    fill: none;
    stroke: #ff931e;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    pointer-events: none;
}

.gameover .mobs-box .mob {
}