
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.landing .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.landing .logo .icon {
    width: 114px;
    height: 114px;
    margin-right: 10px;
    background: url(../../assets/img/logo.png) center top no-repeat;
}

.landing .logo .title {
    font-family: 'neonoire';
    color: #21252E;
    font-size: 50px;
    text-align: left;
    line-height: 1.1;
    text-shadow: -3px 3px 0 #ffc02b;
}

.landing .intro {
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.4;
    color: #485062;
}