
.gameon {
    cursor: crosshair;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.js .landing {
    opacity: 0;
    transition: opacity .4s;
}

.js.load .landing {
    opacity: 1;
}

.landing .content {
    position: relative;
    z-index: 2;
    pointer-events: none;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    transition: opacity 2s ease-in-out;
}

.gameon .landing .content {
    opacity: .1;
}

.gameover .landing .content {
    pointer-events: auto;
}

.landing .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url(../img/dubeaujeu_logo.png) center center no-repeat;
    background-size: contain;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .landing .logo {
        width: 200px;
        height: 200px;
    }
}

.landing .intro {
    max-width: 600px;
    padding: 0 50px;
    font-family: 'kelson', Impact, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #212126;
}

@media (max-width: 768px) {
    .landing .intro {
        font-size: 13px;
    }
}

.landing .intro a {
    position: relative;
    display: inline-block;
    padding: 0 2px;
    text-decoration: none;
    color: inherit;
}

.landing .intro a:before,
.landing .intro a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    display: block;
    height: 1px;
    background-color: #212126;
}

.landing .intro a:before {
    left: 0;
    width: 0;
    transition: width .35s ease-in-out;
}

.landing .intro a:after {
    right: 0;
    width: 100%;
    transition: width .35s ease-in-out .15s;
}

.landing .intro a:hover:before {
    width: 100%;
    transition: width .35s ease-in-out .15s;
}

.landing .intro a:hover:after {
    width: 0;
    transition: width .35s ease-in-out;
}

.landing .intro a:hover {}

.mobs-box {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(222, 222, 222, 0), rgba(222, 222, 222, 0.8));
}

.mobs-box .bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #FFC02B;
}

.mobs-box .counter {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'kelson', Impact, sans-serif;
    font-size: 500px;
    font-size: 90vh;
    color: #020202;
    text-align: right;
    line-height: 0.6;
    opacity: 0;
    transition: opacity .2s;
}

.gameon .mobs-box .counter {
    opacity: .2;
}

.mobs-box .chrono {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    font-family: 'kelson', Impact, sans-serif;
    font-size: 18px;
    color: #020202;
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
    opacity: 0;
    transition: opacity .2s;
}

.mobs-box .chrono .currency {
    font-family: Tahoma, Verdana, sans-serif;
}

.gameon .mobs-box .chrono {
    opacity: .4;
}

.gameover .mobs-box .chrono {
    opacity: 1;
}

.mobs-box .mob {
    width: 150px;
    height: 150px;
}

.mobs-box .mob .hitbox {
    display: block;
    cursor: pointer;
}

.mobs-box .mob .line {
    fill: none;
    stroke: #ff931e;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    pointer-events: none;
}

.gameover .mobs-box .mob {}