body,
html {
    height: 100%;
}

body {
    /*background: #FFDD18;*/
    text-align: center;
}

.e32015-page {
    height: 100%;
}

.e32015-page .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.e32015-page .handfont {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 50px auto auto auto;
}

.e32015-page .handfont path {
    fill: none;
    stroke: #FF0000;
    stroke-width: 15%;
}

.e32015-page .handfont .e3 path {
    stroke: #000;
}

.e32015-page .handfont ._2015 path {
    stroke: #ED1D24;
    stroke-width: 10%;
}

/* Planning */

.e32015-planning {
    width: 500px;
    margin: 0 auto 60px;
}

.e32015-planning .day {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.e32015-planning .date {
    width: 60px;
    padding: 5px 10px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.e32015-planning .date .day {
    font-size: 28px;
    font-weight: bold;
    color: #FF0000;
}

.e32015-planning .date .month {
    font-size: 10px;
    text-transform: uppercase;
}

.e32015-planning .items {
    flex-grow: 1;
    padding: 5px 10px;
    /*border: 1px solid #ccc;*/
}

.e32015-planning .item {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-align: left;
    margin-bottom: 10px;
}

.e32015-planning .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.e32015-planning .hours {
    font-size: 14px;
}

.e32015-planning .link {
    font-size: 14px;
    text-decoration: none;
    color: #ed1d24;
    margin-top: 5px;
}

.e32015-planning .link:after {
    content: '';
    position: absolute;
    bottom: 2px;
    display: block;
    height: 1px;
    background-color: #ed1d24;
}

.e32015-planning .nc {
    margin-top: 20px;
    opacity: .8;
}

.e32015-planning .nc .items {
    margin-left: 70px;
}