.e3mosaic-page {
    position: relative;
}

.e3mosaic-page .bg {}

.bricks {
    position: relative;
    margin: 12px 24px;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.brick-item {
    float: left;
    width: 56%;
    width: 56.284153005464%;
}

.brick-outer {
    position: relative;
    width: 100%;
    padding-bottom: 43.68%;
    padding-bottom: 43.68932038835%;
}

.brick-item.format-43pct {
    width: 43%;
    width: 43.715846994536%;
}

.brick-item.format-43pct .brick-outer {
    padding-bottom: 56.25%;
}

.brick-item.format-28pct {
    width: 28%;
    width: 28.14207650275%;
}

.brick-item.format-28pct .brick-outer {
    padding-bottom: 87.38%;
    padding-bottom: 87.378640776699%;
}

.brick-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border: 6px solid transparent;
    /*background-color: yellow;*/
}

.brick-item .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.brick-item .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(237, 29, 36, 0.8) 120%);
    /*rgba(255, 192, 43, 0.2) 80%, */
    transition: opacity 0.3s ease-in-out;
}

.brick-item:hover .overlay {
    opacity: 1;
}

.brick-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-style: italic;
    font-family: Cambria, Georgia, serif;
    font-size: 34px;
    text-align: left;
    line-height: 1;
    letter-spacing: -0.4px;
    transition: text-shadow .3s ease-in-out;
}

.brick-item:hover .title {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.brick-item .pswp-trigger {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.brick-item .pswp-trigger .html {
    position: absolute;
    top: 0;
    left: -100%;
    visibility: hidden;
    opacity: 0;
}

.video-outer {
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-inner {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-inner iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 980px) {
    .brick-item {
        width: 100%;
    }

    .brick-item.format-28pct,
    .brick-item.format-43pct {
        width: 50%;
    }

    .brick-item.format-28pct .brick-outer,
    .brick-item.format-43pct .brick-outer {
        padding-bottom: 87.378640776699%;
    }
}

@media (max-width: 768px) {
    .brick-item,
    .brick-item.format-28pct,
    .brick-item.format-43pct {
        width: 100%;
    }

    .brick-item.format-28pct .brick-outer,
    .brick-item.format-43pct .brick-outer {
        padding-bottom: 43.68932038835%;
    }
}

.pswp-gallery a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Logo */

.brick-logo {
    position: absolute;
    top: 0;
    left: 28.14207650275%;
}

@media (max-width: 980px) {
    .brick-logo {
        left: 50%;
    }
}

@media (max-width: 768px) {
    .brick-logo {
        left: auto;
    }
}

.logo-box {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.handfont {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

.handfont path {
    fill: none;
    stroke: #FF0000;
    stroke-width: 15%;
}

.handfont .e3 path {
    stroke: #000;
}

.handfont ._2015 path {
    stroke: #ED1D24;
    stroke-width: 10%;
}