
@font-face {
    font-family: 'Abril Fatface';
    src: url("../fonts/abril/abrilfatface-regular.woff2") format("woff2"), url("../fonts/abril/abrilfatface-regular.woff") format("woff"), url("../fonts/abril/abrilfatface-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    height: 100%;
}

body {
    /*background: #FFDD18;*/
    text-align: center;
}

.e32015-page {
    height: 100%;
}

.e32015-page .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../../img/e32015/e3-expo.jpg) center top no-repeat;
    background-size: cover;
    opacity: 0.05;
}

.e32015-page .logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.e32015-page .handfont {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 50px auto auto auto;
}

.e32015-page .handfont path {
    fill: none;
    stroke: #FF0000;
    stroke-width: 15%;
}

.e32015-page .handfont .e3 path {
    stroke: #000;
}

.e32015-page .handfont ._2015 path {
    stroke: #ED1D24;
    stroke-width: 10%;
}

/* Planning */

.e32015-planning {
    width: 500px;
    margin: 0 auto 60px;
}

.e32015-planning .items {
    flex-grow: 1;
    padding: 5px 10px;
    /*border: 1px solid #ccc;*/
}

.e32015-planning .item {
    position: relative;
    padding: 30px 10px 10px 10px;
    text-align: left;
    margin-bottom: 60px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.e32015-planning .title {
    position: absolute;
    top: -28px;
    right: 0;
    left: 0;
    font-family: 'Abril Fatface', serif;
    font-size: 42px;
    color: #333;
    letter-spacing: 1px;
    text-align: center;
}

.e32015-planning .hours {
    font-size: 14px;
}

.e32015-planning .link {
    font-size: 14px;
    text-decoration: none;
    color: #ed1d24;
    margin-top: 5px;
}

.e32015-planning .link:after {
    content: '';
    position: absolute;
    bottom: 2px;
    display: block;
    height: 1px;
    background-color: #ed1d24;
}
